include doctype
include header

body
    #header
        h1 OH NO 500!
        h2 Argh! We crashed! So sorry!
    #page
        h3 Diagnostic information:
        - for (key in err)
          p= key + ': ' + err[key]
