head
    script(src='/js/lib/jquery-1.7.1.min.js')
    script(src='/js/lib/underscore-min.js')
    script(src='/js/lib/backbone-min.js')
    script(src='/js/shared/utilities.js')
    script(src='/js/shared/validate.js')
    script(src='/js/common.js')
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    link(rel="stylesheet", type="text/css", href="/css/config.css")
